---
layout: default
---

<div class="home">
	<h1 class="page-heading">Posts list：{{ page.tag }}</h1>

	{% assign posts = site.tags[page.tag] %}
	<ul class="post-list">
	{% for post in posts %}
		<li>
			<h2>
				<a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
			</h2>
			<span class="post-meta">{{ post.date | date: "%Y-%m-%d" }}</span>
			<span class="post-meta">all</span>
			<span class="text-info pull-right">字数：{{ page.content | number_of_words }}</span>
			{% if post.content contains '<!-- more -->' %}
				{{ post.content | split:'<!-- more -->' | first %}}
				<p class="readmore-p"><a class="btn btn-info" href="{{ post.url }}">Read more</a></p>
			{% else %}
				{{ post.content }}
			{% endif %}
		</li>
	{% endfor %}
	</ul>

	<p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">111 RSS</a></p>

</div>
